*{
    margin: 0%;
    padding: 0%;
    
    
}
.card{
     border-radius: 10px;
    align-items: center;
    text-align: center;
   border: 1px solid violet;
   width: 280px;
   height: 380px;
  
   position: absolute;
   top: 18%;
   left: 40%;
}
.upper-container{
    height: 150px;
    background-color: blueviolet;
}
.img-cont{
 height: 20%;
 /* width: 20%; */
 position: absolute ;
 top: 28%;
 left: 35%;
 border-radius: 50%;
 background-color: white;

}
.img-cont img{
    height: 100%;
    border-radius: 50%;
    
    
}
.lower-container{
    position: relative;
    top: 40px;
}
.btn button{
      padding: 10px;
      margin-top: 10px;
    width: 100px;
    color: azure;
    background-color: blueviolet;
    border-radius: 18px;
    font-size: 13px;
}
